<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면 </title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }

    </style>
</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <h1>관리자 회원 관리</h1>

    <div class="list">


        <table>
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        아이디(이메일)
                    </th>
                    <th>
                        로그인 일시
                    </th>
                    <th>
                        접속 IP
                    </th>
                    <th>
                        User-Agent
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="x : ${list}">
                    <td th:text="${x.id}">1</td>
                    <td th:text="${x.userId}">xxx@naver.com</td>
                    <td th:text="${x.loginDt}">yyyy-MM-dd</td>
                    <td th:text="${x.remoteAddr}">127.0.0.1</td>
                    <td th:text="${x.userAgent}">CROME</td>
                </tr>
            </tbody>
        </table>


    </div>


</body>
</html>
